# Peer-graded Assignment: Capstone Project - The Battle of Neighborhoods

This report includes six sections as follows:

* Introduction 
* Data 
* Methodology 
* Results 
* Discussion 
* Conclusion

## Introduction

Manchester and Liverpool are two major cities in North West England. Both cities are noted for their culture, architecture, musical exports, sports clubs and transport links. 

According to Wikepedia (www.wikipedia.org):
    
    * Manchester is the third-most visited city in the UK with a population of 545,500 as of 2017 and with a GDP of $102.3bn (2015). The economy grew relatively strongly between 2002 and 2012. 
    According to 2019 property investment research, Manchester is rated as the second location for "The Best Places to Invest in Property In The UK". 
    
    * Liverpool is the fifth-largest city in the UK with a population of 2.24 million in 2011 and with a GDP at $65.8bn (2014). The Economy of Liverpool is one of the largest within the UK.
    The important component of Liverpool's economy are the tuourism and leisure sectors. Car manufacturing also takes place in the city. 
    
In this project, the above two cities will be compared in details using machine learning segmentation and clustering along with Foursquare data. 
The objectives include: 

    * How similar these two cities are? 
    * Which city is better for living for certain requirements?

## Data

In order to apply this study, basic geo data of this two cities need to be collected:
    
    * Postcode for Liverpool (https://en.wikipedia.org/wiki/L_postcode_area)
    * Postcode for Manchester (https://en.wikipedia.org/wiki/M_postcode_area)
            
    The latitude and longitude data also required:
    
    * (https://www.freemaptools.com/download/outcode-postcodes/postcode-outcodes.csv)

In [3]:
#pip install wikipedia, lxml
!conda install -c conda-forge wikipedia --yes 
!conda install -c conda-forge lxml --yes
import pandas as pd 
 
import wikipedia as wp
from bs4 import BeautifulSoup

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [4]:

html_m = wp.page("M postcode area").html().encode("UTF-8")
html_l = wp.page("L postcode area").html().encode("UTF-8")
df_m = pd.read_html(html_m, header = 0)[1]
df_l = pd.read_html(html_l, header = 0)[1]
df_m = df_m.rename(columns={'Postcode district': 'postcode'}) 
df_l = df_l.rename(columns={'Postcode district': 'postcode'})

In [5]:
df_m.shape

(52, 4)

In [6]:
df_m

,postcode,Post town,Coverage,Local authority area
0,M1,MANCHESTER,"Piccadilly, City Centre, Market Street",Manchester
1,M2,MANCHESTER,"Deansgate, City Centre",Manchester
2,"M3(Sectors 1, 2, 3, 4 and 9)",MANCHESTER,"City Centre, Deansgate, Castlefield",Manchester
3,"M3(Sectors 5, 6 and 7)",SALFORD,"Blackfriars, Greengate, Trinity",Salford
4,M4,MANCHESTER,"Ancoats, Northern Quarter, Strangeways",Manchester
5,M5,SALFORD,"Ordsall, Seedley, Weaste, University",Salford
6,M6,SALFORD,"Pendleton, Irlams o' th' Height, Langworthy, S...",Salford
7,M7,SALFORD,"Higher Broughton, Cheetwood, Lower Broughton, ...",Salford
8,M8,MANCHESTER,"Crumpsall, Cheetham Hill",Manchester
9,M9,MANCHESTER,"Harpurhey, Blackley",Manchester
10,M11,MANCHESTER,"Clayton, Openshaw, Beswick",Manchester
11,M12,MANCHESTER,"Ardwick, Longsight, Chorlton-on-Medlock",Manchester
12,M13,MANCHESTER,"Ardwick, Longsight, Chorlton-on-Medlock",Manchester
13,M14,MANCHESTER,"Fallowfield, Moss Side, Ladybarn, Rusholme, Lo...",Manchester
14,M15,MANCHESTER,"Hulme, Manchester Science Park, Old Trafford","Manchester, Trafford"
15,M16,MANCHESTER,"Firswood, Old Trafford, Whalley Range, Moss Side","Manchester, Trafford"
16,M17,MANCHESTER,"Trafford Park, The Trafford Centre",Trafford
17,M18,MANCHESTER,"Abbey Hey, Gorton",Manchester
18,M19,MANCHESTER,"Levenshulme, Burnage","Manchester, Stockport"
19,M20,MANCHESTER,"Didsbury, Withington",Manchester
20,M21,MANCHESTER,"Chorlton-cum-Hardy, Barlow Moor",Manchester
21,M22,MANCHESTER,"Wythenshawe, Northenden, Sharston Industrial Area",Manchester
22,M23,MANCHESTER,"Baguley, Brooklands (Manchester and Trafford),...","Manchester, Trafford"
23,M24,MANCHESTER,"Middleton, Alkrington, Chadderton","Rochdale, Oldham"
24,M25,MANCHESTER,"Prestwich, Sedgley Park, Simister",Bury
25,M26,MANCHESTER,"Radcliffe, Stoneclough","Bury, Bolton"
26,M27,MANCHESTER,"Swinton, Clifton, Pendlebury, Wardley, Agecroft",Salford
27,M28,MANCHESTER,"Worsley, Walkden, Boothstown, Mosley Common, W...","Salford, Wigan"
28,M29,MANCHESTER,"Tyldesley, Astley",Wigan
29,M30,MANCHESTER,"Eccles, Monton, Peel Green, Winton, Patricroft...",Salford
30,M31,MANCHESTER,"Carrington, Partington",Trafford
31,M32,MANCHESTER,"Stretford, Barton Dock Road",Trafford
32,M33,SALE,"Sale, Brooklands (Manchester and Trafford)","Trafford, Manchester"
33,M34,MANCHESTER,"Denton, Audenshaw",Tameside
34,M35,MANCHESTER,Failsworth,Oldham
35,M38,MANCHESTER,Little Hulton,Salford
36,M40,MANCHESTER,"Collyhurst, Miles Platting, Moston, New Moston...",Manchester
37,M41,MANCHESTER,"Urmston, Davyhulme, Flixton, Barton Dock Road",Trafford
38,M43,MANCHESTER,Droylsden,Tameside
39,M44,MANCHESTER,"Irlam, Cadishead",Salford
40,M45,MANCHESTER,Whitefield,Bury
41,M46,MANCHESTER,Atherton,Wigan
42,M50,SALFORD,"Salford Quays, MediaCityUK",Salford
43,M60(Sectors 1 and 7),MANCHESTER,Large user and PO Box (located geographically ...,Manchester
44,M60(Sectors 2 and 8),MANCHESTER,Large user and PO Box (located geographically ...,Manchester
45,M60(Sectors 3 and 9),MANCHESTER,Large user and PO Box (located geographically ...,Manchester
46,M60(Sectors 4 and 0),MANCHESTER,Large user and PO Box (located geographically ...,Manchester
47,M60(Sectors 5 and 6),MANCHESTER,Manchester X,Manchester
48,M60(Sector 9),SALFORD,Large user and PO Box,Salford
49,M61,MANCHESTER,Manchester X,Manchester
50,M90,MANCHESTER,Manchester Airport,Manchester
51,M99,MANCHESTER,Manchester X; JD Williams (located geographica...,Manchester

In [7]:
df_l

,postcode,Post town,Coverage,Local authority area
0,L1,LIVERPOOL,City Centre,Liverpool
1,L2,LIVERPOOL,City Centre,Liverpool
2,L3,LIVERPOOL,"City Centre, Everton, Vauxhall",Liverpool
3,L4,LIVERPOOL,"Anfield, Kirkdale, Walton",Liverpool
4,L5,LIVERPOOL,"Anfield, Everton, Kirkdale, Vauxhall",Liverpool
5,L6,LIVERPOOL,"Anfield, City Centre, Everton, Fairfield, Kens...",Liverpool
6,L7,LIVERPOOL,"City Centre, Edge Hill, Fairfield, Kensington",Liverpool
7,L8,LIVERPOOL,"City Centre, Dingle, Toxteth",Liverpool
8,L9,LIVERPOOL,"Aintree, Fazakerley, Orrell Park, Walton","Liverpool, Sefton"
9,L10,LIVERPOOL,"Aintree Village, Fazakerley","Sefton, Liverpool, Knowsley"
10,L11,LIVERPOOL,"Clubmoor, Croxteth, Gillmoss, Norris Green",Liverpool
11,L12,LIVERPOOL,"Croxteth Park, West Derby",Liverpool
12,L13,LIVERPOOL,"Clubmoor, Old Swan, Stoneycroft, Tuebrook",Liverpool
13,L14,LIVERPOOL,"Broadgreen, Dovecot, Knotty Ash, Page Moss","Liverpool, Knowsley"
14,L15,LIVERPOOL,Wavertree,Liverpool
15,L16,LIVERPOOL,"Broadgreen, Bowring Park, Childwall","Liverpool, Knowsley"
16,L17,LIVERPOOL,"Aigburth, St Michael's Hamlet, Sefton Park",Liverpool
17,L18,LIVERPOOL,"Allerton, Mossley Hill",Liverpool
18,L19,LIVERPOOL,"Garston, Grassendale, Aigburth,",Liverpool
19,L20,BOOTLE,"Bootle, Orrell","Sefton, Liverpool"
20,L20,LIVERPOOL,Kirkdale,Liverpool
21,L21,LIVERPOOL,"Ford, Litherland, Seaforth","Sefton, Liverpool"
22,L22,LIVERPOOL,Waterloo,Sefton
23,L23,LIVERPOOL,"Blundellsands, Brighton-le-Sands, Crosby, Litt...",Sefton
24,L24,LIVERPOOL,"Hale, Speke","Halton, Liverpool"
25,L25,LIVERPOOL,"Belle Vale, Gateacre, Hunts Cross, Woolton, Ha...","Liverpool, Knowsley"
26,L26,LIVERPOOL,Halewood,"Liverpool, Knowsley"
27,L27,LIVERPOOL,Netherley,Liverpool
28,L28,LIVERPOOL,Stockbridge Village,"Liverpool, Knowsley"
29,L29,LIVERPOOL,"Lunt, Sefton Village",Sefton
30,L30,BOOTLE,"Bootle, Netherton",Sefton
31,L31,LIVERPOOL,"Maghull, Lydiate, Melling, Waddicar",Sefton
32,L32,LIVERPOOL,Kirkby,Knowsley
33,L33,LIVERPOOL,Kirkby,Knowsley
34,L34,PRESCOT,"Prescot, Knowsley Village",Knowsley
35,L35,PRESCOT,"Prescot, Whiston, Rainhill","Knowsley, St Helens"
36,L36,LIVERPOOL,"Huyton, Roby, Tarbock",Knowsley
37,L37,LIVERPOOL,"Formby, Little Altcar, Great Altcar","Sefton, West Lancashire"
38,L38,LIVERPOOL,"Ince Blundell, Hightown","Sefton, West Lancashire"
39,L39,ORMSKIRK,"Ormskirk, Aughton",West Lancashire
40,L40,ORMSKIRK,"Burscough, Mawdesley, Scarisbrick, Rufford, Ho...","West Lancashire, Chorley"
41,L67,LIVERPOOL,Littlewoods Pools[4],non-geographic
42,L68,LIVERPOOL,Vernons Pools[4],non-geographic
43,L69,LIVERPOOL,"PO boxes in central Liverpool, government depa...",non-geographic
44,L70,LIVERPOOL,seasonal response mail[4],non-geographic
45,L71,LIVERPOOL,American Express[4],non-geographic
46,L72,LIVERPOOL,Littlewoods[4],non-geographic
47,L73,LIVERPOOL,"BT Group, large Selectapost users[4]",non-geographic
48,L74,LIVERPOOL,HM Revenue and Customs (Customs and Excise)[4],non-geographic
49,L75,LIVERPOOL,HM Revenue and Customs (Inland Revenue)[4],non-geographic
50,L80,BOOTLE,NaN,non-geographic[5]

In [8]:
postcode = pd.read_csv("https://www.freemaptools.com/download/outcode-postcodes/postcode-outcodes.csv")

In [9]:
postcode

        id postcode  latitude  longitude
0        2     AB10  57.13514   -2.11731
1        3     AB11  57.13875   -2.09089
2        4     AB12  57.10100   -2.11060
3        5     AB13  57.10801   -2.23776
4        6     AB14  57.10076   -2.27073
...    ...      ...       ...        ...
2998  3001     WV98   0.00000    0.00000
2999  3002      S95   0.00000    0.00000
3000  3003     PA80   0.00000    0.00000
3001  3004      L80   0.00000    0.00000
3002  3005      BS0   0.00000    0.00000

[3003 rows x 4 columns]

In [10]:
postcode = postcode.drop('id',1)
postcode
# df.drop('column_name', axis=1, inplace=True)

     postcode  latitude  longitude
0        AB10  57.13514   -2.11731
1        AB11  57.13875   -2.09089
2        AB12  57.10100   -2.11060
3        AB13  57.10801   -2.23776
4        AB14  57.10076   -2.27073
...       ...       ...        ...
2998     WV98   0.00000    0.00000
2999      S95   0.00000    0.00000
3000     PA80   0.00000    0.00000
3001      L80   0.00000    0.00000
3002      BS0   0.00000    0.00000

[3003 rows x 3 columns]

In [11]:
postcode

     postcode  latitude  longitude
0        AB10  57.13514   -2.11731
1        AB11  57.13875   -2.09089
2        AB12  57.10100   -2.11060
3        AB13  57.10801   -2.23776
4        AB14  57.10076   -2.27073
...       ...       ...        ...
2998     WV98   0.00000    0.00000
2999      S95   0.00000    0.00000
3000     PA80   0.00000    0.00000
3001      L80   0.00000    0.00000
3002      BS0   0.00000    0.00000

[3003 rows x 3 columns]

In [12]:
postcode.shape

(3003, 3)

In [13]:
import requests
import io


df_m = pd.merge(postcode, df_m, on='postcode')
df_m.shape
df_m

,postcode,latitude,longitude,Post town,Coverage,Local authority area
0,M1,53.477340,-2.235080,MANCHESTER,"Piccadilly, City Centre, Market Street",Manchester
1,M11,53.478340,-2.179330,MANCHESTER,"Clayton, Openshaw, Beswick",Manchester
2,M12,53.464820,-2.201870,MANCHESTER,"Ardwick, Longsight, Chorlton-on-Medlock",Manchester
3,M13,53.460300,-2.213890,MANCHESTER,"Ardwick, Longsight, Chorlton-on-Medlock",Manchester
4,M14,53.447700,-2.224370,MANCHESTER,"Fallowfield, Moss Side, Ladybarn, Rusholme, Lo...",Manchester
5,M15,53.465630,-2.250080,MANCHESTER,"Hulme, Manchester Science Park, Old Trafford","Manchester, Trafford"
6,M16,53.454810,-2.263570,MANCHESTER,"Firswood, Old Trafford, Whalley Range, Moss Side","Manchester, Trafford"
7,M17,53.469060,-2.317890,MANCHESTER,"Trafford Park, The Trafford Centre",Trafford
8,M18,53.461270,-2.168710,MANCHESTER,"Abbey Hey, Gorton",Manchester
9,M19,53.436960,-2.194210,MANCHESTER,"Levenshulme, Burnage","Manchester, Stockport"
10,M2,53.480030,-2.242630,MANCHESTER,"Deansgate, City Centre",Manchester
11,M20,53.425210,-2.230270,MANCHESTER,"Didsbury, Withington",Manchester
12,M21,53.437710,-2.270990,MANCHESTER,"Chorlton-cum-Hardy, Barlow Moor",Manchester
13,M22,53.385600,-2.258630,MANCHESTER,"Wythenshawe, Northenden, Sharston Industrial Area",Manchester
14,M23,53.399020,-2.287290,MANCHESTER,"Baguley, Brooklands (Manchester and Trafford),...","Manchester, Trafford"
15,M24,53.551130,-2.196240,MANCHESTER,"Middleton, Alkrington, Chadderton","Rochdale, Oldham"
16,M25,53.528500,-2.274590,MANCHESTER,"Prestwich, Sedgley Park, Simister",Bury
17,M26,53.561610,-2.333690,MANCHESTER,"Radcliffe, Stoneclough","Bury, Bolton"
18,M27,53.512160,-2.336310,MANCHESTER,"Swinton, Clifton, Pendlebury, Wardley, Agecroft",Salford
19,M28,53.514670,-2.396660,MANCHESTER,"Worsley, Walkden, Boothstown, Mosley Common, W...","Salford, Wigan"
20,M29,53.508160,-2.456920,MANCHESTER,"Tyldesley, Astley",Wigan
21,M30,53.484240,-2.354180,MANCHESTER,"Eccles, Monton, Peel Green, Winton, Patricroft...",Salford
22,M31,53.419300,-2.421360,MANCHESTER,"Carrington, Partington",Trafford
23,M32,53.450210,-2.308720,MANCHESTER,"Stretford, Barton Dock Road",Trafford
24,M33,53.420500,-2.325060,SALE,"Sale, Brooklands (Manchester and Trafford)","Trafford, Manchester"
25,M34,53.455940,-2.117480,MANCHESTER,"Denton, Audenshaw",Tameside
26,M35,53.507140,-2.152300,MANCHESTER,Failsworth,Oldham
27,M38,53.531670,-2.420960,MANCHESTER,Little Hulton,Salford
28,M4,53.484550,-2.229090,MANCHESTER,"Ancoats, Northern Quarter, Strangeways",Manchester
29,M40,53.503490,-2.189990,MANCHESTER,"Collyhurst, Miles Platting, Moston, New Moston...",Manchester
30,M41,53.450950,-2.362940,MANCHESTER,"Urmston, Davyhulme, Flixton, Barton Dock Road",Trafford
31,M43,53.483780,-2.147700,MANCHESTER,Droylsden,Tameside
32,M44,53.440860,-2.426090,MANCHESTER,"Irlam, Cadishead",Salford
33,M45,53.547340,-2.288290,MANCHESTER,Whitefield,Bury
34,M46,53.526010,-2.490310,MANCHESTER,Atherton,Wigan
35,M5,53.479030,-2.284820,SALFORD,"Ordsall, Seedley, Weaste, University",Salford
36,M6,53.491590,-2.296960,SALFORD,"Pendleton, Irlams o' th' Height, Langworthy, S...",Salford
37,M7,53.505160,-2.260860,SALFORD,"Higher Broughton, Cheetwood, Lower Broughton, ...",Salford
38,M8,53.508800,-2.238270,MANCHESTER,"Crumpsall, Cheetham Hill",Manchester
39,M9,53.521430,-2.212690,MANCHESTER,"Harpurhey, Blackley",Manchester
40,M90,53.363090,-2.276530,MANCHESTER,Manchester Airport,Manchester
41,M50,53.479393,-2.304275,SALFORD,"Salford Quays, MediaCityUK",Salford
42,M99,53.484512,-2.234866,MANCHESTER,Manchester X; JD Williams (located geographica...,Manchester
43,M61,0.000000,0.000000,MANCHESTER,Manchester X,Manchester

In [14]:
df_l = pd.merge(postcode, df_l, on='postcode')

In [15]:
df_l.shape

(51, 6)

In [16]:
df_l

,postcode,latitude,longitude,Post town,Coverage,Local authority area
0,L1,53.402540,-2.979280,LIVERPOOL,City Centre,Liverpool
1,L10,53.473980,-2.926680,LIVERPOOL,"Aintree Village, Fazakerley","Sefton, Liverpool, Knowsley"
2,L11,53.448010,-2.914070,LIVERPOOL,"Clubmoor, Croxteth, Gillmoss, Norris Green",Liverpool
3,L12,53.434670,-2.894210,LIVERPOOL,"Croxteth Park, West Derby",Liverpool
4,L13,53.417400,-2.919430,LIVERPOOL,"Clubmoor, Old Swan, Stoneycroft, Tuebrook",Liverpool
5,L14,53.418610,-2.878830,LIVERPOOL,"Broadgreen, Dovecot, Knotty Ash, Page Moss","Liverpool, Knowsley"
6,L15,53.397630,-2.919010,LIVERPOOL,Wavertree,Liverpool
7,L16,53.398760,-2.887440,LIVERPOOL,"Broadgreen, Bowring Park, Childwall","Liverpool, Knowsley"
8,L17,53.377690,-2.939620,LIVERPOOL,"Aigburth, St Michael's Hamlet, Sefton Park",Liverpool
9,L18,53.380640,-2.906610,LIVERPOOL,"Allerton, Mossley Hill",Liverpool
10,L19,53.359100,-2.901650,LIVERPOOL,"Garston, Grassendale, Aigburth,",Liverpool
11,L2,53.406960,-2.988410,LIVERPOOL,City Centre,Liverpool
12,L20,53.452810,-2.987970,BOOTLE,"Bootle, Orrell","Sefton, Liverpool"
13,L20,53.452810,-2.987970,LIVERPOOL,Kirkdale,Liverpool
14,L21,53.470700,-2.998930,LIVERPOOL,"Ford, Litherland, Seaforth","Sefton, Liverpool"
15,L22,53.476760,-3.026200,LIVERPOOL,Waterloo,Sefton
16,L23,53.491180,-3.022030,LIVERPOOL,"Blundellsands, Brighton-le-Sands, Crosby, Litt...",Sefton
17,L24,53.343390,-2.836720,LIVERPOOL,"Hale, Speke","Halton, Liverpool"
18,L25,53.378270,-2.862960,LIVERPOOL,"Belle Vale, Gateacre, Hunts Cross, Woolton, Ha...","Liverpool, Knowsley"
19,L26,53.364100,-2.832620,LIVERPOOL,Halewood,"Liverpool, Knowsley"
20,L27,53.387440,-2.837580,LIVERPOOL,Netherley,Liverpool
21,L28,53.434900,-2.864110,LIVERPOOL,Stockbridge Village,"Liverpool, Knowsley"
22,L29,53.506790,-2.983190,LIVERPOOL,"Lunt, Sefton Village",Sefton
23,L3,53.408800,-2.983940,LIVERPOOL,"City Centre, Everton, Vauxhall",Liverpool
24,L30,53.484420,-2.970620,BOOTLE,"Bootle, Netherton",Sefton
25,L31,53.513460,-2.936590,LIVERPOOL,"Maghull, Lydiate, Melling, Waddicar",Sefton
26,L32,53.477860,-2.889090,LIVERPOOL,Kirkby,Knowsley
27,L33,53.489650,-2.875770,LIVERPOOL,Kirkby,Knowsley
28,L34,53.436140,-2.814450,PRESCOT,"Prescot, Knowsley Village",Knowsley
29,L35,53.414780,-2.782440,PRESCOT,"Prescot, Whiston, Rainhill","Knowsley, St Helens"
30,L36,53.414390,-2.839620,LIVERPOOL,"Huyton, Roby, Tarbock",Knowsley
31,L37,53.557350,-3.062880,LIVERPOOL,"Formby, Little Altcar, Great Altcar","Sefton, West Lancashire"
32,L38,53.524200,-3.049980,LIVERPOOL,"Ince Blundell, Hightown","Sefton, West Lancashire"
33,L39,53.561420,-2.895370,ORMSKIRK,"Ormskirk, Aughton",West Lancashire
34,L4,53.437750,-2.960520,LIVERPOOL,"Anfield, Kirkdale, Walton",Liverpool
35,L40,53.602270,-2.840320,ORMSKIRK,"Burscough, Mawdesley, Scarisbrick, Rufford, Ho...","West Lancashire, Chorley"
36,L5,53.425050,-2.975290,LIVERPOOL,"Anfield, Everton, Kirkdale, Vauxhall",Liverpool
37,L6,53.418960,-2.949560,LIVERPOOL,"Anfield, City Centre, Everton, Fairfield, Kens...",Liverpool
38,L69,53.407090,-2.973370,LIVERPOOL,"PO boxes in central Liverpool, government depa...",non-geographic
39,L7,53.405490,-2.947760,LIVERPOOL,"City Centre, Edge Hill, Fairfield, Kensington",Liverpool
40,L70,53.408910,-2.970400,LIVERPOOL,seasonal response mail[4],non-geographic
41,L8,53.390090,-2.962460,LIVERPOOL,"City Centre, Dingle, Toxteth",Liverpool
42,L9,53.461200,-2.952010,LIVERPOOL,"Aintree, Fazakerley, Orrell Park, Walton","Liverpool, Sefton"
43,L67,53.428970,-2.958583,LIVERPOOL,Littlewoods Pools[4],non-geographic
44,L68,53.473055,-2.960690,LIVERPOOL,Vernons Pools[4],non-geographic
45,L71,53.439492,-2.971429,LIVERPOOL,American Express[4],non-geographic
46,L72,53.480300,-2.988368,LIVERPOOL,Littlewoods[4],non-geographic
47,L73,53.406399,-2.975554,LIVERPOOL,"BT Group, large Selectapost users[4]",non-geographic
48,L74,53.393801,-2.988061,LIVERPOOL,HM Revenue and Customs (Customs and Excise)[4],non-geographic
49,L75,53.438613,-2.985222,LIVERPOOL,HM Revenue and Customs (Inland Revenue)[4],non-geographic
50,L80,0.000000,0.000000,BOOTLE,NaN,non-geographic[5]